<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bragbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bragbook.SplashPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bragbook.LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name="com.example.bragbook.CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.example.bragbook.TheActualLoginPage"
            android:label="@string/title_activity_the_actual_login_page" >
        </activity>
        <activity
            android:name="com.example.bragbook.ManageAccountPage"
            android:label="@string/title_activity_manage_account_page" >
        </activity>
        <activity
            android:name="com.example.bragbook.ViewPictures"
            android:label="@string/title_activity_view_pictures" >
        </activity>
        <activity
            android:name="com.example.bragbook.UploadPicture"
            android:label="@string/title_activity_upload_picture" >
        </activity>
    </application>

</manifest>
